.framework {
    display: grid;
    /* grid-template-columns: repeat(7, 1fr); */
    /* grid-template-rows: repeat(4, 1fr); */
    grid-auto-columns: 1fr;
    /* grid-auto-rows: 1fr; */
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .Trust-Framework {
    grid-area: 2 / 1 / 3 / 3;
  }
  
  .Policy-Rules-Label-Document {
    grid-area: 1 / 1 / 2 / 3;
  }
  
  .Gaia-X-Label {
    grid-area: 3 / 1 / 4 / 2;
  }
  
  .Gaia-X-Compliance {
    grid-area: 3 / 2 / 5 / 3;
  }
  
  .Identity-Access-Management {
    grid-area: 2 / 4 / 3 / 5;
  }
  
  .Federated-Catalogue {
    grid-area: 2 / 5 / 3 / 6;
  }
  
  .Data-Exchange-Services {
    grid-area: 2 / 6 / 3 / 7;
  }
  
  .CP {
    grid-area: 3 / 3 / 4 / 4;
  }
  
  .IDM {
    grid-area: 3 / 4 / 4 / 5;
  }
  
  .FC {
    grid-area: 3 / 5 / 4 / 6;
  }
  
  .SDE {
    grid-area: 3 / 6 / 4 / 7;
  }
  
  .Connector-Plugins {
    grid-area: 4 / 6 / 5 / 7;
  }
    
  .Architecture-Document {
    grid-area: 1 / 3 / 2 / 7;
  }
  
  .Compliance {
    grid-area: 1 / 1 / 5 / 3;
  }
  
  .GXFS-Toolbox {
    grid-area: 3 / 3 / 5 / 7;
  }
  
  .Federation {
    grid-area: 1 / 3 / 5 / 6;
  }
  
  .Data-Exchange {
    grid-area: 1 / 6 / 5 / 7;
  }
  
  .Specifications {
    grid-area: 1 / 1 / 3 / 7;
  }
  
  .Functional-Specifications {
    grid-area: 1 / 1 / 2 / 7;
  }

  .Technical-Specifications {
    grid-area: 2 / 3 / 3 / 7;
  }

  .Rules-Specifications {
    grid-area: 2 / 1 / 3 / 3;  
  }

  .Software {
    grid-area: 3 / 2 / 5 / 7;
  }
  
  .Labels {
    grid-area: 3 / 1 / 5 / 2;
  }
  
  .Gaia-X-Compliance-Service {
    grid-area: 3 / 2 / 4 / 3;
  }
  
  .Gaia-X-Registry-Service {
    grid-area: 4 / 2 / 5 / 3;
  }