/* From https://www.w3schools.com/howto/howto_js_accordion.asp */

/* Style the buttons that are used to open and close the accordion panel */
.accordion_title {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 0.5em;
  width: 100%;
  text-align: left;
  /* border: none; */
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion_active, .accordion_title:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.accordion_panel {
  padding: 0 1em;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion_title:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  color: #777;
  float: right;
  margin-left: 5px;
}

.accordion_active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* hide border only for fieldset for artefact */
div.framework div[data-artefact] fieldset {
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

fieldset ul {
  margin: 0px;
}